<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Number List</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Third Eye System</h1>
<button onclick="window.location.href='/'">Home</button>
<button onclick="window.location.href='/break/new'" th:disabled="${breakstatus}">Create New Break</button>
<button onclick="window.location.href='/break'">List Existing Breaks</button>
<button onclick="window.location.href='/number/new'">Buy new number</button>
<button onclick="window.location.href='/number'">List Existing Numbers</button>
<button onclick="window.location.href='/customer/new'">Register new customer</button>
<button onclick="window.location.href='/customer'">List Existing customers</button>
<button onclick="window.location.href='/number/checkavailable'">Check Available Balance</button>
<button onclick="window.location.href='/number/checklucky'">Check Lucky Number</button>
<button onclick="confirmRestart()">Restart Database</button>
<script>
function confirmRestart() {
const userConfirmed = window.confirm("Are you sure you want to restart the database?");
if (userConfirmed) {
window.location.href = '/number/restartdb';
}
}
</script>
<h1>Numbers</h1>
<table border="1" class="listtable">
<tr>
<th>Number</th>
<th>Own Amount</th>
<th>Buy Amount</th>
<th>Action</th>
</tr>
<tr th:each="number : ${numbers}">
<td th:text="${number.number}"></td>
<td th:text="${number.ownamount}"></td>
<td th:text="${number.buyamount}"></td>
<td>
<a th:href="@{/number/{id}(id=${number.numberid})}">Edit</a>
<a th:href="@{/number/delete/{id}(id=${number.numberid})}">Delete</a>
</td>
</tr>
</table>
</body>
</html>
