<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Number Form</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Third Eye System</h1>
<button onclick="window.location.href='/'">Home</button>
<button onclick="window.location.href='/break/new'" th:disabled="${breakstatus}">Create New Break</button>
<button onclick="window.location.href='/break'">List Existing Breaks</button>
<button onclick="window.location.href='/number/new'">Buy new number</button>
<button onclick="window.location.href='/number'">List Existing Numbers</button>
<button onclick="window.location.href='/customer/new'">Register new customer</button>
<button onclick="window.location.href='/customer'">List Existing customers</button>
<button onclick="window.location.href='/number/checkavailable'">Check Available Balance</button>
<button onclick="window.location.href='/number/checklucky'">Check Lucky Number</button>
<button onclick="confirmRestart()">Restart Database</button>
<script>
function confirmRestart() {
const userConfirmed = window.confirm("Are you sure you want to restart the database?");
if (userConfirmed) {
window.location.href = '/number/restartdb';
}
}
</script>
<h1 th:if="${number.numberid != null}" th:text="'Update Number'"></h1>
<h1 th:if="${number.numberid == null}" th:text="'Create Number'"></h1>

<form class="newforms"
th:action="@{${number.numberid != null} ? '/number/' + ${number.numberid} : '/number'}"
method="post"
th:object="${number}"
>
<label for="number">Number:</label><br><br>
<input type="number" id="number" th:field="*{number}" required /><br><br>

<label for="ownamount">Want to Buy Amount:</label><br><br>
<input type="number" id="ownamount" th:field="*{ownamount}" required /><br><br>

<!-- Dropdown for selecting a customer -->
<label for="customername">Select Customer:</label><br><br>
<select name="customerid" id="customername" required>
<option value="">Select a customer</option>
<th:block th:each="customer : ${customers}">
<option
th:value="${customer.customerid}"
th:text="${customer.customername}"
></option>
</th:block>
</select><br><br>

<button type="submit" th:if="${number.numberid != null}" th:text="'Update'"></button>
<button type="submit" th:if="${number.numberid == null}" th:text="'Create'"></button>
<button type="reset" th:if="${number.numberid == null}" th:text="'Cancel'"></button>

</form>
</body>
</html>
