<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Form</title>
</head>
<body>
    <h1 th:text="${customer.customerid != null} ? 'Update Customer' : 'Create Customer'"></h1>
    <form th:action="@{${customer.customerid != null} ? '/customer/' + ${customer.customerid} : '/customer'}"
          method="post" th:object="${customer}">
        <label for="customername">Customer Name:</label>
        <input type="text" id="customername" th:field="*{customername}" required/>
        
        <button type="submit" th:text="${customer.customerid != null} ? 'Update' : 'Create'"></button>
    </form>
    
    <a href="/">Home</a><br>
    <a href="/break/new">Create New Break</a><br>
    <a href="/break">List Existing Breaks</a><br>
    <a href="/number/new">Buy new number</a><br>
    <a href="/number">List Existing Numbers</a><br>
    <a href="/customer/new">Register new customer</a><br>
    <a href="/customer">List Existing customer</a><br>
    <a href="/number/checkavailable">Check Available Balance</a><br>
    
</body>
</html>
